<section class="verify">
  <div class="frame">
    <div class="title"><h2>{{ 'title_uuid_validator' | translate }}</h2></div>
    <form [formGroup]="formGroup">
      <div class="form-content">
        <div class="col col-l">
          <input type="text" formControlName="uuid" [placeholder]="nilUuid">
        </div>
        <div class="col col-r">
          <button type="button" (click)="clear()">{{ 'form_button_clear' | translate }}</button>
        </div>
      </div>
      <div class="form-messages mt">
        <app-message
          *ngIf="isValid"
          [type]="messageType.ALERT">
          {{ 'message_invalid_UUID' | translate }}
        </app-message>
        <app-message
          *ngIf="isSuccess"
          [type]="messageType.SUCCESS">
          {{ 'message_correct_UUID' | translate }}
        </app-message>
      </div>
    </form>
  </div>
</section>
