header{
  display: flex;
  justify-content: space-between;
  z-index: 100;
  color: var(--high-text-color);

  a {
    &:link,
    &:visited,
    &:hover,
    &:active{
      color: var(--high-text-color);
      text-decoration: none;
    }
  }

  .top-nav{
    display: flex;
    .top-nav-item{
      font-size: var(--nav-action-fs);
      margin-left: 1rem;
      .btn-open{
        cursor: pointer;
        line-height: 2rem;
      }
    }
  }
}

