<nav>
  <span class="btn-close" (click)="close.emit(true)">{{ 'sidebar_menu_close' | translate }}</span>
  <p class="donate" [innerHTML]="'sidebar_donate' | translate: { link: 'https://www.paypal.com/donate/?hosted_button_id=W9UP7FDVZZGAE' }"></p>
  <ul>
    <li *ngFor="let item of this.navItems">
      <a [routerLink]="item.url">{{ item.title }}</a>
      <ng-container *ngIf="item?.sub?.length">
        <ul>
          <li *ngFor="let sub of item.sub">
            <a [routerLink]="sub.url">{{ sub.title }}</a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</nav>
<div class="nav-backdrop" (click)="close.emit(true)"></div>
