<nav>
  <span class="btn-close" (click)="close.emit(true)">{{ 'sidebar_menu_close' | translate }}</span>
  <p class="donate" [innerHTML]="'sidebar_donate' | translate: { link: ppDonate + env.ppDnt }"></p>
  <ul>
    <li *ngFor="let item of this.navItems">
      <a [routerLink]="item.url">{{ item.title }}</a>
      <ul *ngIf="item?.sub?.length">
        <li *ngFor="let sub of item.sub">
          <a [routerLink]="sub.url">{{ sub.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="nav-backdrop" (click)="close.emit(true)"></div>
