@import 'assets/styles/reset';
@import "assets/styles/checkbox";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

::selection {
  color: var(--dark-color);
  background: yellow;
}

body {
  --primary-color: #2c2c2c;
  --secondary-color: #efefef;
  --heading-color: #2c2c2c;
  --highlight-color: #252525;
  --dark-color: #000;
  --border-color: #949494;
  --alert-color: #e01251;
  --warning-color: #e0a312;
  --success-color: #0acb7c;
  --high-text-color: #efefef;
  --text-color: #2d2d2d;
  --button-bg: #e6e6ea;
  --button-bg-active: #d1d1d7;
  --button-bg-hover: #dfdfe3;
  --input-color: #2d2d2d;
  --input-bg: #FFF;
  --input-bg-focus: #f6f5f5;
  --input-border-focus: #1700c7;
  --input-disable-color: #707070;
  --input-disable-bg: #d5d5d5;
  --item-highlight-color: #efefef;
  --item-highlight-bg: #565656;
  --border-shadow: rgba(0,0,0, .4);
  --nav-action-fs: 1rem;
  --nav-bg: #2c2c2c;
  --nav-color: #d1d1d7;
  --nav-color-link: var(--success-color);

  &.dark-theme {
    --primary-color: #2c2c2c;
    --secondary-color: #1c1c1c;
    --heading-color: #545454;
    --high-text-color: #c0c0c0;
    --highlight-color: #3f3f3f;
    --text-color: #9b9b9b;
    --border-color: #7a7a7a;
    --button-bg: #414142;
    --button-bg-active: #343434;
    --button-bg-hover: #3d3d3d;
    --input-color: #d5d5d5;
    --input-bg: #505050;
    --input-bg-focus: #494949;
    --input-border-focus: #888888;
    --input-disable-bg: #313131;
    --border-shadow: rgba(255, 255, 255, .2);
  }

  text-align: center;
  background-color: var(--secondary-color);
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-color);
}

main {
  padding: 0 1rem;
}

h2, h3, h4, h5, h6 {
  display: inline-block;
  color: var(--heading-color);
  border-left: .15rem solid var(--heading-color);
  padding-left: 1rem;
}

button,
input[type="button"],
.btn-link{
  background-color: var(--button-bg);
  border: none;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 2rem;
  line-height: 1.9rem;
  display: block;
  color: var(--text-color);
  &:active{
    color: inherit;
    background-color: var(--button-bg-active);
  }
  &:hover{
    background-color: var(--button-bg-hover);
  }
  &:disabled,
  &.disabled{
    color: var(--input-disable-color);
    background-color: var(--input-disable-bg);
    cursor: not-allowed;
  }
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 0 1rem;
  color: var(--input-color) !important;
  border: none;
  height: 2rem;
  box-sizing: border-box;
  outline: none;
  background-color: var(--input-bg);

  &:focus {
    background-color: var(--input-bg-focus);
    border-color: var(--input-border-focus);
  }

  &:disabled {
    color: var(--input-disable-color) !important;
    background-color: var(--input-disable-bg);
    cursor: not-allowed;
  }

  &.ng-invalid{
    border-style: solid;
    border-color: var(--alert-color);
    border-width: 2px;
  }
}

label{
  cursor: pointer;
}

/* unvisited link */
a {
  &:link,
  &:visited,
  &:hover,
  &:active{
    color: var(--primary-color);
  }
}

.c-pointer{
  cursor: pointer !important;
}

.ml { margin-left: .5rem; }
.mr { margin-right: .5rem; }
.mt { margin-top: .5rem; }
.mb { margin-bottom: .5rem; }

header {
  &.main {
    position: sticky;
    color: var(--high-text-color);
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    text-align: left;
    padding: .75rem;

    h1 {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 1.25rem;
      &::before {
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        font-size: 1.25rem;
        margin-top: 0.25rem;
        margin-right: 0.15rem;
        display: inline-block;
        color: var(--primary-color);
        background: var(--high-text-color);
        content: "U";
      }
      .sfx{
        display: none;
        @media (min-width: 600px) {
          display: inline;
        }
      }
    }
  }
}

section {
  padding: 0rem 1rem 2rem 1rem;
  box-shadow: 2px 1px 0px var(--border-shadow);
  margin-bottom: 2rem;
  .title{
    h2{
      margin-bottom: 1rem;
    }
  }
}

footer {
  &.main {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    font-size: .75rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .1);
    color: #FFF;
    background: var(--dark-color);
    a {
      &:link,
      &:visited,
      &:hover,
      &:active{
        color: #FFF;
      }
    }
  }
}

.frame{
  width: 100%;
  margin: auto;
  @media (min-width: 800px) {
    width: 600px;
  }
}

main {
  &.generator {
    padding-top: 2rem;
    padding-bottom: 5rem;

    .control-panel-row {
      margin-bottom: 1rem;
      @media (min-width: 680px) {
        display: flex;
      }
      .control-item {
        display: block;
        margin-bottom: .5rem;
        @media (min-width: 680px) {
          margin-bottom: 0rem;
        }
        button,
        input[type=button]{
          width: 100%;
        }
        .checkbox{
          margin-right: 1rem;
        }
      }
    }

    input {
      &.count {
        width: 120px;
      }
    }

    section {
      span {
        &.code {
          display: block;
          font-size: 1rem;
          margin: 0.75rem 0;
        }
      }
    }
  }
}

#messages{
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 9999;
  .message{
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
  }
}

.message {
  border: 2px solid transparent;
  text-align: left;
  padding: .5rem;
  font-size: .8rem;
  margin-bottom: 0.5rem;
  &.alert {
    color: var(--alert-color);
    border-color: var(--alert-color);
  }

  &.warning {
    color: var(--warning-color);
    border-color: var(--warning-color);
  }

  &.success {
    color: var(--success-color);
    border-color: var(--success-color);
  }
}

